<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top" style="margin-right:1em; z-index: 1;">
  <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <i class="fa fa-bars fa-lg"></i>
          </button>
          <a href="{{ site.baseurl }}/" title="HOME"><img src="{{ site.baseurl }}/logo.png" alt="logo" style="width:150px;cursor:pointer;margin-top:15px;"/></a>
      </div>
<style>
        .drop-down-content{
            padding: 0 px;
            display: none;
            list-style: none;
            overflow-y:hidden;
        }
       .drop-down:hover .drop-down-content{
            display:block;
            right:0px;
            max-width: width 500px; ;
        }
        .drop-down {
            padding: 0px;
        }
        .m{
           cursor: pointer;
        }
        .dropdown:hover > dropdown-menu {
        display: flex;
        margin: -0.125rem 0 0;}
  </style>   

      <div class="collapse navbar-collapse m" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" style="margin-right:0em; text-shadow: -.025em -.025em 0 rgba(0, 133, 161, 0.75) ">
      <!--<ul class="nav navbar-nav"></ul>-->
        <li><a href="{{ site.baseurl }}/about">About</a></li>
        <li><a href="{{ site.baseurl }}/research">Research</a></li>
        <li class="drop-down">
        <a href="{{ site.baseurl }}/people" class="drop-down dropdown" >people</a>
          <ul  class="drop-down-content">
            <li><a href="{{ site.baseurl }}/people" >Team</a></li>
            <li><a href="/home/people/teamalbum">Album</a></li>
          </ul>
        </li>
        <li><a href="{{ site.baseurl }}/publication">Publication</a></li>
        <li class="drop-down">
          <a href="{{ site.baseurl }}/software">Software</a>
          <ul class="drop-down-content">
            <li><a href="/home/software/tiger">Tiger</a></li>
          </ul>
        </li>
        <li class="drop-down"><a href="{{ site.baseurl }}/resource">Resource</a> </li>
        <li><a href="{{ site.baseurl }}/jobs">Jobs</a></li>
        <li><a href="{{ site.baseurl }}/news">News</a></li>
      </ul>
      </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <!--
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right" style="margin-right:1em; text-shadow: -.025em -.025em 0 rgba(0, 133, 161, 0.75), .025em -.025em 0 rgba(0, 133, 161, 0.75), -.025em .025em 0 rgba(0, 133, 161, 0.75), .025em .025em 0 rgba(0, 133, 161, 0.75);">
        -->     
      
      <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>