<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<head>
{% if page.url == "/404.html" %}<meta http-equiv="refresh" content="5; url={{ site.baseurl }} " />{% endif %}
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>

</head>

<body>

    {% include nav.html %}

    {{ content }}

    <!--{% include search.html %}-->

    <!--{% include newsletter.html %}-->

    {% include footer.html %}

   {% include Scroll_to_Top.html %}

</body>

<!-- Default Statcounter code for LuLab
https://plantgeneticslab.github.io/home/ -->
<script type="text/javascript">
var sc_project=12732004; 
var sc_invisible=1; 
var sc_security="d1536717"; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="web counter"
href="https://statcounter.com/" target="_blank"><img
class="statcounter"
src="https://c.statcounter.com/12732004/0/d1536717/1/"
alt="web counter"
referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
<!-- End of Statcounter Code -->

</html>
