
<!DOCTYPE html>
<html lang="en">

<head>
{% include head.html %}

<!--
<link rel="shortcut icon" href="{{ root_url }}/favicon.ico?" type="image/x-icon">
<link rel="icon" href="{{ root_url }}/favicon.ico?" type="image/x-icon">
-->

</head>

<body>


    {% include nav.html %}

    {{ content }}

    </body>
    
<!-- Default Statcounter code for LuLab
https://plantgeneticslab.github.io/home/ -->
<script type="text/javascript">
var sc_project=12732004; 
var sc_invisible=1; 
var sc_security="d1536717"; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="web counter"
href="https://statcounter.com/" target="_blank"><img
class="statcounter"
src="https://c.statcounter.com/12732004/0/d1536717/1/"
alt="web counter"
referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
<!-- End of Statcounter Code -->

</html>